<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{>head}}
    <title>{{title}}</title>
</head>

<body>
    {{>navbar}}
    <video id="myVideo" width="100%" autoplay loop muted>
        <source src="/Restaurant Ad Video Template (Editable).mp4" type="video/mp4">
    </video>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <h1>"I EAT...."</h1>
    </center>
    <br>
    <center>
        <h6>Even when you’re not hungry</h6>
    </center>
    <br>
    <div class="container d-flex flex-row">

        <div class="container_0">
            <img src="https://source.unsplash.com/1200x500/?hotel" width="460" height="345"
                style="width: 220%; height: auto;" alt="">
        </div>
        <div class="container_1">
            <p style="margin-left: 15.0em;padding: 0 7em 2em 0;text-align:justify">Restaurants be it stand alone or
                the fine dining ones housed within the vicinity of a hotel are public places that see high footfall
                on weekends. Each guest coming in and going out results in one debit and credit entry that needs to
                be recorded. Taxes, discounts need to be taken care of and the books need to be tallied at the end
                of the day. To carry out all this, you need a sound restaurant POS software that can carry out all
                these tasks.People got to eat! For years upon years, people have been hardwired to grab something to
                eat when they are hungry. This is a major advantage for any startup restaurant. The only thing you
                need to consider is the future of your product, and will there be a demand for it in your local
                geographical area. That’s really it in my opinion. People have to eat and here in the U.S. and
                around the world is something we all enjoy to do.</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {{>footer}}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>